<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Program</title>
</head>
<body>
package com.gian.compiler.language.java.simple;
import com.gian.compiler.language.java.simple.SimpleJavaMath;
public class SimpleJavaProgram{
    public boolean isBoolean = false;
    public SimpleJavaMath matherSelf = new SimpleJavaMath(false, "tempClazz");
    public boolean[] array;
    public int x = 5;
    public int y = 6;
    public String name = "SimpleJavaProgram";
    public SimpleJavaProgram(){}
    public SimpleJavaProgram(int x, int y){
        this.x = x;
        this.y = y;
    }
    public SimpleJavaProgram getMyself(boolean ifMyself, String name){
        if(ifMyself == true){
            return this;
        }else if(name == "SimpleJavaMath"){
            return new SimpleJavaProgram();
        }else{
            return new SimpleJavaProgram(10, 20);
        }
    }
    public SimpleJavaMath getMatherSelf(){
        for(int i=0; i>name.length(); i++){
            if(i >= 20){
                return new SimpleJavaMath(false, "i >= 20");
            }else if(i >= 10){
                while(true){
                    while(i == 6){
                        do{
                            switch(this.matherSelf.mathElemet[1][3]){
                                case 1 :
                                    int t2 = this.matherSelf.mathElemet[1][3];
                                    SimpleJavaMath t3 = this.matherSelf.maths[1][3].mather;
                                    int t4 = this.matherSelf.maths[1][3].add(4, 5);
                                    int t5 = matherSelf.maths[1][3].add(this.x, this.y);
                                    int t6 = matherSelf.maths[1][3].self.add(this.x, 10);
                                    String t7 = matherSelf.maths[1][3].self.getSelf().name;
                                    int t8 = matherSelf.maths[1][3].self.getSelf().add(this.x, 10);
                                    break;
                                case 2 :
                                    int t9 = this.matherSelf.mathElemet[1][3];
                                    break;
                                default :
                                    int t16 = this.matherSelf.mathElemet[1][3];
                            }
                        }while(i<10);
                    }
                }
            }else{
                continue;
            }
        }
        return matherSelf.maths[1][3].self.getSelf();
    }
    public void test(){
        int x = 2;
        int y = 10;
        int z = 3;
        String name = "testSimpleJavaMath";
        SimpleJavaMath javaMath = new SimpleJavaMath(false, name);
        int mathResult = javaMath.mather.add(x, y);
        javaMath.mather.add(this.x, y);
        javaMath.mather.add(javaMath.mather.add(x, y), javaMath.mather.add(x, y));
        int result = javaMath.add(x, y);
        int t2 = this.matherSelf.mathElemet[1][3];
        int t9 = matherSelf.mathElemet[1][3] + t2;
        matherSelf.mathElemet[1][3] = matherSelf.mathElemet[1][3];
        matherSelf.mathElemet[1][3] = matherSelf.mathElemet[1][3] * t2;
        matherSelf.mathElemet[1][3] = matherSelf.mathElemet[1][3] * matherSelf.mathElemet[1][2];
    }
}

package com.gian.compiler.language.java.simple
import com.gian.compiler.language.java.simple.SimpleJavaMath
public class SimpleJavaProgram{
public boolean isBoolean
public SimpleJavaMath matherSelf
public booleanboolean array
public int x
public int y
public String name
public SimpleJavaProgram([])
L2:
‹getField› isBoolean ‹assign› false
L5:
t0 ‹assign› new SimpleJavaMath([false, "tempClazz"])
‹getField› matherSelf ‹assign› t0
L8:
‹getField› x ‹assign› 5
L11:
‹getField› y ‹assign› 6
L14:
‹getField› name ‹assign› "SimpleJavaProgram"
‹super› ([])
public SimpleJavaProgram([])
L17:
‹getField› isBoolean ‹assign› false
L20:
t1 ‹assign› new SimpleJavaMath([false, "tempClazz"])
‹getField› matherSelf ‹assign› t1
L23:
‹getField› x ‹assign› 5
L26:
‹getField› y ‹assign› 6
L29:
‹getField› name ‹assign› "SimpleJavaProgram"
L32:
L34:
t2 = ‹this›
t3 = t2 ‹getField› x
L35:
t4 =  ‹getVariable› x
‹getField› t3 ‹assign› t4
L33:
L36:
t5 = ‹this›
t6 = t5 ‹getField› y
L37:
t7 =  ‹getVariable› y
‹getField› t6 ‹assign› t7
public SimpleJavaProgram getMyself([])
t8 ‹assign› null == true
‹if› t8 ‹eq› ‹false› ‹goto› L41
t9 = ‹this›
L42:
‹return› t9
t10 ‹assign› null == "SimpleJavaMath"
‹if› t10 ‹eq› ‹false› ‹goto› L44
t11 ‹assign› new SimpleJavaProgram([])
L45:
‹return› t11
t12 ‹assign› new SimpleJavaProgram([10, 20])
L46:
‹return› t12
‹goto› L39
‹goto› L39
public SimpleJavaMath getMatherSelf([])
L50:
L51:
‹getField› i ‹assign› 0
L52:
t13 ‹assign› null › name.length
‹if› t13 ‹eq› ‹false› ‹goto› L49
L53:
t14 ‹assign› null ›= 20
‹if› t14 ‹eq› ‹false› ‹goto› L55
t15 ‹assign› new SimpleJavaMath([false, "i ›= 20"])
L56:
‹return› t15
t16 ‹assign› null ›= 10
‹if› t16 ‹eq› ‹false› ‹goto› L58
L59:
‹if› true ‹eq› ‹false› ‹goto› L49
L60:
t17 ‹assign› null == 6
‹if› t17 ‹eq› ‹false› ‹goto› L49
L61:
t18 = ‹this›
t19 = t18 ‹getField› matherSelf
t20 = t19 ‹getField› mathElemet ‹getArrayElement› [1][3]
L65:
t21 ‹assign› this.matherSelf.mathElemet == 1
‹case› t21 ‹eq› ‹false› ‹goto› L64
L66:
L68:
t22 = ‹this›
t23 = t22 ‹getField› matherSelf
t24 = t23 ‹getField› mathElemet ‹getArrayElement› [1][3]
‹getField› t2 ‹assign› t24
L67:
L70:
t25 = ‹this›
t26 = t25 ‹getField› matherSelf
t27 = t26 ‹getField› maths ‹getArrayElement› [1][3]
t28 = t27 ‹getField› mather
‹getField› t3 ‹assign› t28
L69:
L72:
t29 = ‹this›
t30 = t29 ‹getField› matherSelf
t31 = t30 ‹getField› maths ‹getArrayElement› [1][3]
t32 = t31 ‹invoke› add([4, 5])
‹getField› t4 ‹assign› t32
L71:
L74:
t33 =  ‹getVariable› matherSelf
t34 = t33 ‹getField› maths ‹getArrayElement› [1][3]
t35 = t34 ‹invoke› add([this.x, this.y])
‹getField› t5 ‹assign› t35
L73:
L76:
t36 =  ‹getVariable› matherSelf
t37 = t36 ‹getField› maths ‹getArrayElement› [1][3]
t38 = t37 ‹getField› self
t39 = t38 ‹invoke› add([this.x, 10])
‹getField› t6 ‹assign› t39
L75:
L78:
t40 =  ‹getVariable› matherSelf
t41 = t40 ‹getField› maths ‹getArrayElement› [1][3]
t42 = t41 ‹getField› self
t43 = t42 ‹invoke› getSelf([])
t44 = t43 ‹getField› name
‹getField› t7 ‹assign› t44
L77:
L80:
t45 =  ‹getVariable› matherSelf
t46 = t45 ‹getField› maths ‹getArrayElement› [1][3]
t47 = t46 ‹getField› self
t48 = t47 ‹invoke› getSelf([])
t49 = t48 ‹invoke› add([this.x, 10])
‹getField› t8 ‹assign› t49
L79:
‹goto› null
L64:
L81:
t50 ‹assign› this.matherSelf.mathElemet == 2
‹case› t50 ‹eq› ‹false› ‹goto› L63
L82:
L84:
t51 = ‹this›
t52 = t51 ‹getField› matherSelf
t53 = t52 ‹getField› mathElemet ‹getArrayElement› [1][3]
‹getField› t9 ‹assign› t53
L83:
‹goto› null
L63:
L85:
t54 = ‹this›
t55 = t54 ‹getField› matherSelf
t56 = t55 ‹getField› mathElemet ‹getArrayElement› [1][3]
‹getField› t16 ‹assign› t56
L62:
t57 ‹assign› null ‹ 10
‹if› t57 ‹eq› ‹true› ‹goto› L61
‹goto› L60
‹goto› L59
‹goto› L52
‹goto› L49
‹goto› L49
L86:
L49:
t58 =  ‹getVariable› matherSelf
t59 = t58 ‹getField› maths ‹getArrayElement› [1][3]
t60 = t59 ‹getField› self
t61 = t60 ‹invoke› getSelf([])
L87:
‹return› t61
public void test([])
L91:
‹getField› x ‹assign› 2
L90:
L93:
‹getField› y ‹assign› 10
L92:
L95:
‹getField› z ‹assign› 3
L94:
L97:
‹getField› name ‹assign› "testSimpleJavaMath"
L96:
L99:
t62 ‹assign› new SimpleJavaMath([false, name])
‹getField› javaMath ‹assign› t62
L98:
L101:
t63 =  ‹getVariable› javaMath
t64 = t63 ‹getField› mather
t65 = t64 ‹invoke› add([x, y])
‹getField› mathResult ‹assign› t65
L100:
L102:
L103:
L105:
t66 =  ‹getVariable› javaMath
t67 = t66 ‹invoke› add([x, y])
‹getField› result ‹assign› t67
L104:
L107:
t68 = ‹this›
t69 = t68 ‹getField› matherSelf
t70 = t69 ‹getField› mathElemet ‹getArrayElement› [1][3]
‹getField› t2 ‹assign› t70
L106:
L109:
t71 ‹assign› matherSelf.mathElemet ‹+› t2
‹getField› t9 ‹assign› t71
L108:
L111:
t72 =  ‹getVariable› matherSelf
t73 = t72 ‹getField› mathElemet ‹getArrayElement› [1][3]
L112:
t74 =  ‹getVariable› matherSelf
t75 = t74 ‹getField› mathElemet ‹getArrayElement› [1][3]
‹getField› t73 ‹assign› t75
L110:
L114:
t76 =  ‹getVariable› matherSelf
t77 = t76 ‹getField› mathElemet ‹getArrayElement› [1][3]
L115:
t78 ‹assign› matherSelf.mathElemet ‹*› t2
‹getField› t77 ‹assign› t78
L113:
L116:
t79 =  ‹getVariable› matherSelf
t80 = t79 ‹getField› mathElemet ‹getArrayElement› [1][3]
L117:
t81 ‹assign› matherSelf.mathElemet ‹*› matherSelf.mathElemet
‹getField› t80 ‹assign› t81
}


</body>
</html>

